{% extends 'base.html.twig' %}

{% block title %}Mes commandes - eCommerce{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    <p>
        Bonjour <strong>{{ app.user.firstname }}</strong>. <br>
        Vous pouvez gérer toutes vos commandes ici.
    </p>
    <a href="{{ path('account') }}">Retour</a>
        {% if orders | length == 0 %}
            <p class="text-center">Vous n'avez pas encore passé de commande sur la boutique</p>
        {% else %}
            <div class="row">
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Référence</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Passé le</th>
                            <th scope="col">Produit(s)</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><span class="badge badge-info">{{order.reference}}</span></td>
                                <td>
                                    {% if order.state == 1 %}
                                        <i class="far fa-thumbs-up" style="color:#27ae60;"></i> Paiement accepté 
                                    {% elseif order.state == 2 %}
                                        <i class="fas fa-box-open" style="color:#0abde3;"></i> Préparation en cours 
                                    {% elseif order.state == 3 %}
                                        <i class="fas fa-shipping-fast" style="color:#ff9f43;"></i> En cours de livraison
                                    {% endif %}
                                </td>
                                <td>{{order.createdAt|date('d/m/Y') }}</td>
                                <td>{{order.orderDetails|length}}</td>
                                <td>{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }}€</td>
                                <td class="text-right"><a href="{{ path('account_order_show', {'reference' : order.reference}) }}">Voir ma commande</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                
        {% endif %}

{% endblock %}